.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.app-container {
  width: 70%;
  margin: auto;
}

.App-header {
  /*  background-color: #282c34; */
  /*  min-height: 100vh; */

  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  /* border-bottom: rgb(79, 78, 78) 1px solid; */
}

.region-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region-section .temp {
  font-size: 15px;
  padding: 0 15px 0 15px;
  margin: 0;
}

.region-section .temp sup {
  font-size: xx-small;
}

.App-header section p {
  font-size: 15px;
  margin: 0;
}

.location-Container {
  background-color: #85586F;
  border-radius: 10px;
}

.location-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}

.location-label {
  /* color: white; */
  margin: 0;
}

.select-location {
  margin: 10px;
}

.navigation {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

.navItem {
  padding: 5px 40px;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.navItem:focus,
nav.navigation>a.active {
  border: 1px solid grey;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.outlet {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

/* Cards Component */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.cards li {
  list-style: none;
  border: 1px solid grey;
  border-radius: 10px;

}

.card-heading {
  color: #85586F;
  font-size: 20px;
}

/* Today Component */

.today-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #282c34 #85586F;

}

.today-container::-webkit-scrollbar {
  width: 40px;
}

.today-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #85586F
}

.today-container::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-radius: 10px;
  border: 3px solid #85586F;
}

/* week Component */

.week-container {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #282c34 #85586F;

}

.week-container::-webkit-scrollbar {
  width: 40px;
}

.week-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #85586F
}

.week-container::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-radius: 10px;
  border: 3px solid #85586F;
}

/* Small devices ( phones, 576px and below) */
@media (max-width: 576px) {
.App{
  font-size: 15px;
}
  .App-header {
    padding: 15px;
    display: block;
    font-size: 20px;
  }
  .region-section{
    display:block;
    padding:10px;
  }

  .location-section {
    display: block;
    padding: 10px 0;
  }

  .cards {
padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .cards h5 {
    margin: 10px;
  }

  .card-heading {
    color: white;
    font-size: 15px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {


  .location-section {
    display: block;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .cards h5 {
    margin: 10px;
  }

  .card-heading {
    color: white;
    font-size: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .location-section {
    display: flex;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .card-heading {
    color: #85586F;
    font-size: 15px;
  }
}

